---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Tags";
const allPosts : any[] = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-cols-3 gap-6 w-full justify-items-center my-12">
    {tags.map((tag) => <a href={`/tags/${tag}`} class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{tag}</a>)}
  </div>
</BaseLayout>