---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="z-50">
  <nav class="container mx-auto px-4 py-4 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <ThemeIcon />
    </div>
    <Navigation />
  </nav>
</header>