---
interface Props {
  platform: "twitter" | "github" | "linkedin";
  username: string;
}

const { platform, username } = Astro.props;
---

<a 
  href={`https://www.${platform}.com${platform === "linkedin" ? "/in" : ""}/${username}`}
  target="_blank"
  class="text-sm/6 font-semibold text-gray-800 dark:text-gray-200 rounded-md px-3.5 py-2 border border-gray-800 dark:border-gray-200 hover:bg-gray-100 dark:hover:bg-gray-900"
>
    {platform}
</a>