---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---
<html lang="en" class="antialiased h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Astro Blog ⸱ {pageTitle}</title>
  </head>
  <body class="bg-gray-50 text-gray-950 dark:bg-gray-950 dark:text-gray-50 font-sans flex flex-col min-h-screen">
    <Header />

    <!-- Background style from tailwind : https://tailwindcss.com/plus/ui-blocks/marketing/sections/heroes -->
    <div class="relative isolate px-6 pt-14 lg:px-8 -z-10">
      <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
        <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-72 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-xl"></div>
      </div>
    </div>

    <main class="container mx-auto px-4 sm:px-6 md:px-8 lg:px-16 py-8 grow">
      <h1 class="text-3xl text-center font-semibold tracking-tight text-balance sm:text-5xl md:text-6xl lg:text-7xl">{pageTitle}</h1>
      <slot />
    </main>

    <!-- Background style from tailwind : https://tailwindcss.com/plus/ui-blocks/marketing/sections/heroes -->
    <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-72 -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-xl"></div>
    </div>
    
    <Footer class="mt-auto" />
    
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>